body{
  background-color: black;
}


header{
  text-align: center;
  color: rgb(105, 75, 0);
}

h1{
  font-style: italic;
}
label{
  font-family: 'Courier New', Courier, monospace;
  font-size: 19px;
}
legend{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style:inherit;
}
fieldset{
  border-radius: 10px;
}

.container{
    width: 600px;
    margin: 50px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button{
   padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
      margin:auto;
  display:block;
}

input:invalid, selected:invalid{
  border-color: red;
}
input:valid, selected:valid{
  border-color: rgb(41, 87, 40);
}